<%= form_for(ngram) do |f| %>
  <% if ngram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ngram.errors.count, "error") %> prohibited this ngram from being saved:</h2>

      <ul>
      <% ngram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :n %>
    <%= f.text_field :n %>
  </div>

  <div class="field">
    <%= f.label :terms %>
    <%= f.text_field :terms %>
  </div>

  <div class="field">
    <%= f.label :occurrences %>
    <%= f.number_field :occurrences %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
